<div class="note my-5">
  <div class="parent-note">
    <div class="box search">
      <button class="btn btn-success">+</button>
      <input type="search" placeholder="search" />
      <button class="btn btn-warning">search</button>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
    <div class="box news">
      <h3>card title that wraps to a new line</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, in cumque
        quod temporibus atque rerum! Ea facere hic iure voluptate.
      </p>
    </div>
  </div>
</div>
