<div class="home">
  <div class="container">
    <div class="parent-home">
      <div class="box">
        <h3>Welcome To Home <span>page</span></h3>
        <p class="lead">
          Donec Nec Justo Eget Felis Facilisis Fermentum. Aliquam Porttitor
          Mauris Sit Amet Orci. Aenean Dignissim Pellentesque Felis.Donec Nec
          Justo Eget Felis Facilisis Fermentum. Aliquam Porttitor Mauris Sit
          Amet Orci. Aenean Dignissim Pellentesque Felis.
        </p>
        <div class="button">
          <button class="btn btn-dark" [routerLink]="['/auth/signup']">
            Sign Up
          </button>
          <button class="btn" [routerLink]="['/auth/login']">Login</button>
        </div>
      </div>
      <div class="box">
        <img src="./assets/images/home/notes-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
